@model Prestigious.Models.Contacto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
    body{
        background-color: #ffffff;
        background-size: cover; /* Expande la imagen para cubrir el cuerpo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }

    .form-container {
        border-radius: 30px; /* Borde redondeado */
        padding: 20px; /* Espaciado interno */
        font-family: Arial, sans-serif; /* Fuente */
        background-color: #ffffff; /* Color de fondo del formulario */
        border-radius: 30px; /* Borde redondeado */
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); /* Sombra */
        max-width: 600px; /* Anchura máxima del contenedor */
        margin: auto; /* Centrar el contenedor */
        padding-left: 75px;
        padding-right: 75px;
    }

    .form-title {
        text-align: center;
        color: #000000;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        color: #ffffff;
    }

    .form-control {
        border-radius: 10px;
        padding: 10px;
        border: 3px solid #000000;
    }

    .form-control:focus {
        border-color: #000000;
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    }

    .form-control.is-invalid {
        border-color: #dc3545;
    }

    .form-error {
        color: #dc3545;
    }

    .btn-primary {
        margin: 0;
        padding: 10px;
        border: 3px solid #000000;
        background-color: #000000; /* Color de fondo */
        border-color: #000000; /* Color del borde */
        border-radius: 10px; /* Borde redondeado */
        padding-left: 100px;
        padding-right: 100px;
    }

    .btn-large {
        font-size: 4rem; /* Tamaño de la fuente */
        max-width: 1000px;
        padding-left: 140px;
        padding-right: 140px;
    }

    .btn-primary:hover {
        background-color: #000000;
        border-color: #000000;
    }

    .message {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente */
        text-align: center;
        margin-top: 20px;
        color: #000000;
    }

    h2 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente */
        font-size: 85px; /* Tamaño de la fuente */
        color: #000000; /* Color de las letras */
    }

    h3{
        text-align: left;
        margin-bottom: 20px; /* Espacio inferior */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente */
        font-size: 30px; /* Tamaño de la fuente */
        color: #000000; /* Color de las letras */
    }

    h4{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente */
        font-size: 50px; /* Tamaño de la fuente */
        color: #ffffff; /* Color de las letras */
    }
    </style>
</head>
<br>
<br>
<br>
<br>
<body>
     <div class="container">
        <div class="form-container">
            <h2 class="form-title">CONTACTO</h2>
            <hr />
            @using (Html.BeginForm("EnviarMensaje", "Contacto", FormMethod.Post, new { @class = "contact-form" }))
            {
                <div class="form-group">
                    <H3>Nombre Completo:</H3>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-error" })
                </div>

                <div class="form-group">
                    <h3>Correo electronico:</h3>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-error" })
                </div>

                <div class="form-group">
                    <h3>Mensaje:</h3>
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 4 })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "form-error" })
                </div>

                <div class="text-center"> <!-- Envuelve el botón en un div centrado -->
                    <button type="submit" class="btn btn-primary btn-large"><h4>ENVIAR</h4></button>
                </div>
            }
            <h1 class="message">@ViewData["Message"]</h1>
        </div>
    </div>
</body>
</html>