@model Prestigious.Models.Producto

@{
    ViewData["Title"] = "Details";
}
<div class="navi"></div>
<div class="navi"></div>
<div class="container">
    <h1>Detalles del Producto</h1>

    <div>
        
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Size)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Size)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageURL)
            </dt>
            <dd class = "col-sm-10">
                <img src="@Html.DisplayFor(model => model.ImageURL)" class="d-block image-fit" style="width: 200px;">
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
        <a class="btn btn-dark" asp-action="Index">Volver</a>
    </div>
</div>